DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
PORT=8080
ALLOWED_ORIGINS=*
MAX_SKEW=5m
CLAIMS_HEADER=X-Auth-Claims
TIMESTAMP_HEADER=X-Auth-Ts
SIGNATURE_HEADER=X-Auth-Sig
X_AUTH_SIG_SECRET=
ACCESS_TOKEN_SECRET=